@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@200&family=Bree+Serif&family=Cabin+Sketch&display=swap');
:root {
  --primary-color: #3474e6;
  --secondary-color: #ff9912;
  --light-color: #f2f2f2;
  --dark-color: #111;
  --gray-color: #c3c3c3;
  --d: 700ms;
  --e: cubic-bezier(0.19, 1, 0.22, 1);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  font-family: 'Cabin Sketch', sans-serif;
  /* font-family: 'Bree Serif', sans-serif; */
  font-size: 16px;
  line-height: 1.5;
  color: #333;
  background: #fff;
  overflow-x: hidden;
}
img {
  max-width: 100%;
}
ul {
  list-style: none;
}

.container {
  max-width: 1100px;
  margin: 0 auto;
  padding: 0 30px;
}

.line {
  background: var(--secondary-color);
  max-width: 100px;
  height: 7px;
  border-radius: 5px;
}

.navbar {
  color: #fff;
  height: 60px;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  animation: navbar 1.2s ease-out;
}

.navbar::before {
  content: '';
}
.navbar .logo {
  font-size: x-large;
  font-weight: bold;
}
.navbar a {
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  font-weight: bold;
  border-radius: 50%;
  display: inline-block;
  transition: color 0.7s ease, transform 0.8s ease-out;
}
.navbar a:hover {
  transform: scale(1.4) rotate(-360deg);
  color: var(--primary-color);
}
.navbar .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.navbar ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
.navbar ul li {
  margin: 0 1.25rem;
}
.navbar ul li i {
  margin-top: 4px;
  font-size: 125%;
}
.header {
  background-image: linear-gradient(rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0.75)),
    url('../img/pankaj-patel-1IW4HQuauSU-unsplash.jpg');
  color: #fff;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

.header .hero-text {
  font-size: 3.5rem;
  font-weight: bold;
  line-height: 1.2;
  text-align: center;
  margin-bottom: 2rem;
  opacity: 0;
  transform: translateY(-100px);
  animation: hero 1.8s ease-in-out 1.2s forwards;
}
.header p {
  text-align: center;
  animation: paragraph 2s ease-in-out 0.15s;
}

.header .container {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.about,
.contact {
  padding: 2rem 0;
  background: var(--light-color);
  color: var(--dark-color);
}

.about p {
  margin-bottom: 3rem;
}

.about h1,
.contact h1,
.projects h1 {
  font-size: clamp(1.5rem, 5vw, 3rem);
  letter-spacing: 4px;
  margin: 1rem 0 2.5rem;
}
.about h1 span,
.contact h1 span,
.projects h1 span,
.header h1 span {
  background-image: linear-gradient(
    transparent calc(65% - 5px),
    var(--primary-color) 5px
  );
  background-size: 97%;
  background-repeat: no-repeat;
  display: inline;
  transition: 0.7s ease-in-out;
}
.about h1:hover span,
.contact h1:hover span,
.projects h1:hover span,
.header h1:hover span {
  background-size: 0;
}

.about .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.about .sections {
  margin: 1rem 0.5rem;
  object-fit: cover;
  width: 400px;
  border: 10px solid var(--primary-color);
  border-radius: 50%;
  max-width: 400px;
  transform: translateX(400%);
  filter: grayscale(1) blur(1px);
  transition: 0.5s ease-in-out;
}

.projects .sections {
  transform: translateX(-400%);
  transition: transform 0.5s ease;
}

.sections.show {
  transform: translateX(0);
}

.about img {
  transform: translateX(0);
}
.about img:hover {
  transform: rotate(-17deg) scale(0.8);
  filter: grayscale(0) blur(0px);
}

.projects {
  padding: 2rem 0;
  color: var(--light-color);
  background: var(--dark-color);
  z-index: -2;
}
.projects .container {
  z-index: -100;
}
.projects .page-content {
  display: grid;
  grid-gap: 1rem;
  padding: 1rem;
  margin: 2.5rem auto;
  width: 100%;
}

.projects .card:hover {
  border: 4px solid var(--secondary-color);
}
.projects .card {
  position: relative;
  display: flex;
  align-items: flex-end;
  overflow: hidden;
  padding: 1rem;
  width: 100%;
  text-align: center;
  border-radius: 8px;
  color: var(--light-color);
  background-color: whitesmoke;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1), 0 2px 2px rgba(0, 0, 0, 0.1),
    0 4px 4px rgba(0, 0, 0, 0.1), 0 8px 8px rgba(0, 0, 0, 0.1),
    0 16px 16px rgba(0, 0, 0, 0.1);
  border: 4px solid var(--dark-color);
  transition: transform 0.5s ease, color 0.7s ease;
}

.projects .card:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  transition: transform calc(var(--d) * 1.5) var(--e);
  pointer-events: none;
}
.projects .card:after {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
  transition: transform calc(var(--d) * 2) var(--e);
}
.projects .card:nth-child(1):before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../img/assassins_creed_revelations.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.projects .card:nth-child(2):before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../img/pizza-builder.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects .card:nth-child(3):before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../img/listing-app.png');
  background-repeat: no-repeat;
  background-position: left;
  background-size: cover;
}
.projects .card:nth-child(4):before {
  background-image: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.5)),
    url('../img/googleMaps-project.jpeg');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
.projects .content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 1rem;
  transition: transform var(--d) var(--e);
  z-index: 1;
}
.projects .content > * + * {
  margin-top: 1rem;
}
.projects .title {
  font-size: 1.3rem;
  font-weight: bold;
  line-height: 1.2;
}
.projects .copy {
  font-family: var(--font-serif);
  font-size: 1.125rem;
  font-style: italic;
  line-height: 1.35;
}
.projects .btn {
  cursor: pointer;
  margin-top: 1.5rem;
  padding: 0.75rem 1.5rem;
  font-size: 0.65rem;
  font-weight: bold;
  letter-spacing: 0.025rem;
  text-transform: uppercase;
  color: white;
  background: var(--primary-color);
  border: none;
  text-decoration: none;
  display: inline-block;
  transition: background 0.7s ease;
  border-radius: 5px;
}
.projects .btn:hover {
  background: rgba(255, 255, 255, 0.1);
}
.projects .btn:focus {
  outline: 1px dashed yellow;
  outline-offset: 3px;
}

@media (min-width: 600px) {
  .projects .page-content {
    grid-template-columns: repeat(2, 1fr);
  }
  .projects .card {
    height: 350px;
  }
}
@media (min-width: 992px) {
  .projects .page-content {
    grid-template-columns: repeat(4, 1fr);
  }
}

@media (hover: hover) and (min-width: 600px) {
  .projects .card:after {
    transform: translateY(0);
  }
  .projects .content {
    transform: translateY(calc(100% - 4.5rem));
  }
  .projects .content > *:not(.title) {
    opacity: 0;
    transform: translateY(1rem);
    transition: transform var(--d) var(--e), opacity var(--d) var(--e);
  }
  .projects .card:hover,
  .projects .card:focus-within {
    align-items: center;
    transform: rotate(4deg);
    border: 5px solid var(--secondary-color);
  }
  .projects .card:hover:before,
  .projects .card:focus-within:before {
    transform: translateY(-4%);
  }
  .projects .card:hover:after,
  .projects .card:focus-within:after {
    transform: translateY(-50%);
  }
  .projects .card:hover .content,
  .projects .card:focus-within .content {
    transform: translateY(0);
  }
  .projects .card:hover .content > *:not(.title),
  .projects .card:focus-within .content > *:not(.title) {
    opacity: 1;
    transform: translateY(0);
    transition-delay: calc(var(--d) / 8);
  }
  .projects .card:focus-within:before,
  .projects .card:focus-within:after,
  .projects .card:focus-within .content,
  .projects .card:focus-within .content > *:not(.title) {
    transition-duration: 0s;
  }
}

@media (max-width: 992px) {
  .about img {
    width: 250px;
    border-width: 7px;
  }
}
@media (max-width: 768px) {
  .header .container {
    flex-direction: column;
    padding-top: 20px;
    text-align: center;
  }
  .boxes .container {
    flex-direction: column;
    text-align: center;
  }
  .header .hero-text {
    font-size: 2.5rem;
  }
  .header p,
  .about p {
    font-size: 95%;
  }
  .header img {
    margin-top: 20px;
  }
  .about .container {
    flex-direction: column;
  }
  .about .sections {
    border-width: 5px;
    width: 300px;
  }
  .about h1 {
    margin-top: 1rem;
    margin-bottom: 2rem;
  }
  .about p {
    margin-bottom: 1.5rem;
  }
  .line {
    width: 80px;
    margin-top: 1rem;
  }
  .navbar ul li i {
    font-size: 100%;
  }
}
@media (max-width: 500px) {
  .header .hero-text {
    font-size: 1.5rem;
  }
  .header p,
  .about p {
    font-size: 75%;
  }
  .about .sections {
    width: 250px;
  }
  .line {
    width: 80px;
  }
}

/* keyframes */
@keyframes hero {
  50% {
    opacity: 1;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
@keyframes navbar {
  0% {
    transform: translateY(-100%);
  }

  25% {
    transform: translateY(5px);
  }
  50% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
@keyframes paragraph {
  0% {
    opacity: 0;
    transform: translateY(30vh);
  }

  50% {
    opacity: 0.5;
    transform: translateY(-120px);
  }

  100% {
    transform: translateY(0);
  }
}
